body 
{
  background-color: #363636;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body
{
  height: 100%;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
